<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <title>玩转策略</title>

    <style>
        body {
            text-align: center;
            background-color: black;
            color: white;
        }

        .img-list {
            width: 300px;
            height: 500px;
        }
    </style>

</head>
<body>

<h2>一、注册</h2>
<img class="img-list" src="../img/zhuce.png"/>
<h2>二、登录</h2>
<img class="img-list" src="../img/denglu.png"/>
<h2>三、实名认证</h2>
<img class="img-list" src="../img/shimingrenzheng.png"/>
<h2>四、绑定银行卡</h2>
<img class="img-list" src="../img/bangdingyinhangka.png"/>
<img class="img-list" src="../img/bangdingyinhangka-1.png"/>
<h2>五、充值</h2>
<img class="img-list" src="../img/chongzhi.jpg"/>
<h2>六、发布策略</h2>
<img class="img-list" src="../img/fabucelve.png"/>
<img class="img-list" src="../img/fabucelve2.png"/>
<img class="img-list" src="../img/fabucelve3.png"/>
</body>
</html>