<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>玩转策略</title>

    <style>
        .body-content {
            text-align: center;
            background-color: black;
            color: white;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .img-list {
            width: 300px;
            height: 500px;
        }
    </style>

</head>
<body>
<div class="body-content">
    <h2>一、注册</h2>
    <img class="img-list" src="/web/img/zhuce0.png"/>
    <img class="img-list" src="/web/img/zhuce1.png"/>
    <h2>二、实名认证</h2>
    <img class="img-list" src="/web/img/shimingrenzheng0.png"/>
    <img class="img-list" src="/web/img/shimingrenzheng1.png"/>
    <h2>三、绑定银行卡</h2>
    <img class="img-list" src="/web/img/bangdingyinhangka1.png"/>
    <h2>四、充值</h2>
    <img class="img-list" src="/web/img/chongzhi1.png"/>
    <img class="img-list" src="/web/img/chongzhi2.png"/>
    <h2>五、提现</h2>
    <img class="img-list" src="/web/img/tixian.png"/>
    <h2>六、发布策略</h2>
    <img class="img-list" src="/web/img/fabucelve1.png"/>
    <img class="img-list" src="/web/img/fabucelve2.png"/>
    <img class="img-list" src="/web/img/fabucelve3.png"/>
</div>

</body>
</html>