<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>首页</title>
</head>
<link rel="icon" href="../img/applogo.png" type="image/x-icon"/>
<!-- Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<link href="/web/css/shouye.css" rel="stylesheet">

<!-- Vue.js -->
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<!-- jQuery文件 在bootstrap.min.js之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

<div class="row introduceRow">
    <div class="col-lg-2 col-lg-offset-2">
        <img src="/web/img/icon-1.png">
        <div class="img-word">
            资金保障<br>
            资金第三方托管，专款专用
        </div>
    </div>
    <div class="col-lg-2">
        <img src="/web/img/icon-2.png">
        <div class="img-word">
            资金保障<br>
            资金第三方托管，专款专用
        </div>
    </div>
    <div class="col-lg-2">
        <img src="/web/img/icon-3.png">
        <div class="img-word">
            资金保障<br>
            资金第三方托管，专款专用
        </div>
    </div>
    <div class="col-lg-2">
        <img src="/web/img/icon-4.png">
        <div class="img-word">
            资金保障<br>
            资金第三方托管，专款专用
        </div>
    </div>
</div>

</body>
</html>