<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>首页</title>

    <link href="/web/css/shouye.css" rel="stylesheet">

</head>

<body style="width: 100%">

<div class="row introduceRow">
    <div class="col-lg-2 col-lg-offset-2 introduceRow-list">
        <img src="/web/img/icon-1.png">
        <div class="img-word">
            <span>资金保障</span><br>
            资金第三方托管，专款专用
        </div>
    </div>
    <div class="col-lg-2 introduceRow-list">
        <img src="/web/img/icon-2.png">
        <div class="img-word">
            <span>真实交易</span><br>
            100%实盘，站内可查委托
        </div>
    </div>
    <div class="col-lg-2 introduceRow-list">
        <img src="/web/img/icon-3.png">
        <div class="img-word">
            <span>快捷提现</span><br>
            闪电提现，三十分钟到账
        </div>
    </div>
    <div class="col-lg-2 introduceRow-list">
        <img src="/web/img/icon-4.png">
        <div class="img-word">
            <span>专业服务</span><br>
            客户体验至上为宗旨
        </div>
    </div>
</div>
<div class="row introduce-flow">
    <div class="introduce-flow-content">
        <div class="introduce-flow-img-list">
            <img class="icon-list" src="/web/img/icon-man.png">
            <span class="introduce-flow-word">1.注册登录</span>
        </div>
        <div class="introduce-flow-img-list">
            <img class="double-arr" src="/web/img/double-arr.png">
        </div>
        <div class="introduce-flow-img-list">
            <img class="icon-list" src="/web/img/icon-user-check.png">
            <span class="introduce-flow-word">2.实名认证</span>
        </div>
        <div class="introduce-flow-img-list">
            <img class="double-arr" src="/web/img/double-arr.png">
        </div>
        <div class="introduce-flow-img-list" style="padding-top: 13px">
            <img class="icon-list" src="/web/img/icon-card.png">
            <span class="introduce-flow-word">3.账号充值</span>
        </div>
        <div class="introduce-flow-img-list">
            <img class="double-arr" src="/web/img/double-arr.png">
        </div>
        <div class="introduce-flow-img-list">
            <img class="icon-list" src="/web/img/icon-note.png">
            <span class="introduce-flow-word">4.申请配资</span>
        </div>
        <div class="introduce-flow-img-list">
            <img class="double-arr" src="/web/img/double-arr.png">
        </div>
        <div class="introduce-flow-img-list">
            <img class="icon-list" src="/web/img/icon-note2.png">
            <span class="introduce-flow-word">5.生成配资</span>
        </div>
        <div class="introduce-flow-img-list">
            <img class="double-arr" src="/web/img/double-arr.png">
        </div>
        <div class="introduce-flow-img-list">
            <img class="icon-list" src="/web/img/icon-stock.png">
            <span class="introduce-flow-word">6.交易股票</span>
        </div>
        <div class="introduce-flow-img-list">
            <img class="double-arr" src="/web/img/double-arr.png">
        </div>
        <div class="introduce-flow-img-list" style="padding-top: 5px">
            <img class="icon-list" src="/web/img/icon-wallet.png">
            <span class="introduce-flow-word">7.结算提现</span>
        </div>
    </div>
</div>
<div class="row introduce-block">
    <div class="introduce-block-content">
        <div class="introduce-block-list">
            <div class="block-title">5倍</div>
            <div class="block-note">手动延期，按日计息</div>
            <div class="feilv-content">
                <span class="feilv">0.2%</span>
                <br>
                <span>递延费率</span>
            </div>
            <div class="peizi-info">
                最高可配资：20000000元
                <br>
                起配金额：100元
            </div>
        </div>
        <div class="introduce-block-list">
            <div class="block-title">6倍</div>
            <div class="block-note">手动延期，按日计息</div>
            <div class="feilv-content">
                <span class="feilv">0.2%</span>
                <br>
                <span>递延费率</span>
            </div>
            <div class="peizi-info">
                最高可配资：20000000元
                <br>
                起配金额：100元
            </div>
        </div>
        <div class="introduce-block-list">
            <div class="block-title">7倍</div>
            <div class="block-note">手动延期，按日计息</div>
            <div class="feilv-content">
                <span class="feilv">0.2%</span>
                <br>
                <span>递延费率</span>
            </div>
            <div class="peizi-info">
                最高可配资：20000000元
                <br>
                起配金额：100元
            </div>
        </div>
        <div class="introduce-block-list">
            <div class="block-title">8倍</div>
            <div class="block-note">手动延期，按日计息</div>
            <div class="feilv-content">
                <span class="feilv">0.2%</span>
                <br>
                <span>递延费率</span>
            </div>
            <div class="peizi-info">
                最高可配资：20000000元
                <br>
                起配金额：100元
            </div>
        </div>
    </div>
</div>

</body>
</html>