<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hb.web.mapper.AgentFundDetailMapper">
    <resultMap id="BaseResultMap" type="com.hb.facade.entity.AgentFundDeailDO">
        <result column="detailId" property="detailId" jdbcType="INTEGER"/>
        <result column="agentId" property="agentId" jdbcType="VARCHAR"/>
        <result column="agentName" property="agentName" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="DECIMAL"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="createUserId" property="createUserId" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="updateUserId" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="recordStatus" property="recordStatus" jdbcType="INTEGER"/>
        <result column="parentId" property="parentId" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertSelective" parameterType="com.hb.facade.entity.AgentFundDeailDO">
        insert into t_agent_fund_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="detailId != null">
                detailId,
            </if>
            <if test="agentId != null">
                agentId,
            </if>
            <if test="agentName != null">
                agentName,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="createUserId != null">
                createUserId,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="updateUserId != null">
                updateUserId,
            </if>
            <if test="recordStatus != null">
                recordStatus,
            </if>
            <if test="parentId != null">
                parentId,
            </if>
            <if test="unit != null">
                unit,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="detailId != null">
                #{detailId,jdbcType=INTEGER},
            </if>
            <if test="agentId != null">
                #{agentId,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="recordStatus != null">
                #{recordStatus,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="findAgentFundDetailList" resultType="com.hb.facade.entity.AgentFundDeailDO">
        select * from t_agent_fund_detail where 1=1
        <include refid="selectConditionSql"/>
        order by createTime desc
        <if test="pageSize != null and pageSize != 0">
            <![CDATA[ limit #{startRow},#{pageSize} ]]>
        </if>
    </select>

    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from t_agent_fund_detail where 1=1
        <include refid="selectConditionSql"/>
    </select>

    <sql id="selectConditionSql">
        <if test="agentFundDetailRequestVO.agentName != null and agentFundDetailRequestVO.agentName!=''">
            and agentName=#{agentFundDetailRequestVO.agentName}
        </if>
        <if test="agentFundDetailRequestVO.type != null and agentFundDetailRequestVO.type!=''">
            and type=#{agentFundDetailRequestVO.type}
        </if>
        <if test="agentFundDetailRequestVO.createTimeStart != null">
            and createTime > #{agentFundDetailRequestVO.createTimeStart}
        </if>
        <if test="agentFundDetailRequestVO.createTimeEnd != null">
            and #{agentFundDetailRequestVO.createTimeEnd} > createTime
        </if>
    </sql>


</mapper>