body{
    background-image: url('../img/background.png');
}
#app {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: whitesmoke;
}

.navbar {
    min-height: 4rem;
    color: white;
    padding-top: 1rem;
    margin-bottom: 0;
    padding-left: 10%;
}

.row {
    margin: 0;
}

.menu-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-logo {
    text-align: right;
}

div.menu-logo > img {
    height: 60px;
    width: 60px;
}

.menu-logo-word {
    padding-top: 0.5rem;
}

.logo-word {
    font-size: 2rem;
    font-weight: bold;
}

.menu-word-list {
    padding-top: 1.5rem;
}

.menu-word-list a {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 5%;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.menu-word-list a:hover {
    color: red;
}

.bottom {
    position: relative;
    /*bottom: 0;*/
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
}

.bottom-center {
    padding: 20px;
}

.bottom .word-list {
    text-align: right;
}

.bottom .word-list a {
    display: block;
    color: white;
    text-decoration: none;
}

.bottom .word-list a:hover {
    color: wheat;
}

.download-content-word{
    padding-top: 0.5rem;
    padding-left: 1.5rem;
}

.download-content {
    border-left: 1px solid gray;
}

.download-img {
    height: 120px;
    width: 120px;
}

.copyright {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .navbar {
        padding-left: 3%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    div.menu-logo > img {
        height: 40px;
        width: 40px;
    }
    .word-split{
        display: block;
    }
    .word-douhao{
        visibility: hidden;
    }
    .menu-logo-word {
        padding-top: 0rem;
    }
    .logo-word {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .menu-word-list {
        padding-top: 0.5rem;
        padding-left: 5px;
    }
    .menu-word-list a {
        display: inline-block;
        font-size: 1rem;
        margin-left: 5%;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    .download-img {
        height: 50px;
        width: 50px;
    }
    .bottom-center{
        padding: 0;
    }
    .download-content-word{
        padding-top: 0.2rem;
        padding-left: 0;
    }
}