<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hb.web.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.hb.entity.PermissionDO">
        <id column="permissionId" property="permissionId" jdbcType="INTEGER"/>
        <result column="permissionName" property="permissionName" jdbcType="VARCHAR"/>
        <result column="sourceType" property="sourceType" jdbcType="INTEGER"/>
        <result column="permissionValue" property="permissionValue" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="createUserId" property="createUserId" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="updateUserId" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="recordStatus" property="recordStatus" jdbcType="INTEGER"/>
        <result column="parentId" property="parentId" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    permissionId, permissionName, sourceType, permissionValue, createTime, createUserId, 
    updateTime, updateUserId, recordStatus, parentId, unit
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_permission
        where permissionId = #{permissionId,jdbcType=INTEGER}
    </select>

    <select id="findPageList" resultType="com.hb.entity.PermissionDO">
        select * from t_permission where 1=1
        <include refid="sqlCondition"/>
        order by createTime desc
        <if test="pageSize != null and pageSize != 0">
            <![CDATA[ limit #{startRow},#{pageSize} ]]>
        </if>
    </select>

    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from t_permission where 1=1
        <include refid="sqlCondition"/>
    </select>

    <select id="findList" resultType="com.hb.entity.PermissionDO">
        select * from t_permission where 1=1
        <include refid="sqlCondition"/>
        order by createTime desc
    </select>

    <select id="getPermissionValueSetByPermissionIds" resultType="java.lang.String">
        select permissionValue from t_permission where permissionId in
        <foreach collection="permissionSet" item="permissionId" open="(" close=")" separator=",">
            #{permissionId}
        </foreach>
        <if test="sourceType != null">
            and sourceType = #{sourceType}
        </if>
        and recordStatus = 1
    </select>

    <select id="getAllPermissionValueSet" resultType="java.lang.String">
        select permissionValue from t_permission where recordStatus = 1
    </select>

    <sql id="sqlCondition">
        <if test="permissionDO.permissionName != null and permissionDO.permissionName !=''">
            <![CDATA[ and permissionName = #{permissionDO.permissionName} ]]>
        </if>
        <if test="permissionDO.sourceType != null and permissionDO.sourceType !=''">
            <![CDATA[ and sourceType = #{permissionDO.sourceType} ]]>
        </if>
        and recordStatus = 1
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
      update t_permission set recordStatus=0 where permissionId = #{permissionId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteAll">
        delete from t_permission;
    </delete>

    <insert id="insertSelective" parameterType="com.hb.entity.PermissionDO">
        insert into t_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                permissionId,
            </if>
            <if test="permissionName != null">
                permissionName,
            </if>
            <if test="sourceType != null">
                sourceType,
            </if>
            <if test="permissionValue != null">
                permissionValue,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="createUserId != null">
                createUserId,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="updateUserId != null">
                updateUserId,
            </if>
            <if test="recordStatus != null">
                recordStatus,
            </if>
            <if test="parentId != null">
                parentId,
            </if>
            <if test="unit != null">
                unit,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                #{permissionId,jdbcType=INTEGER},
            </if>
            <if test="permissionName != null">
                #{permissionName,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                #{sourceType,jdbcType=INTEGER},
            </if>
            <if test="permissionValue != null">
                #{permissionValue,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="recordStatus != null">
                #{recordStatus,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hb.entity.PermissionDO">
        update t_permission
        <set>
            <if test="permissionName != null">
                permissionName = #{permissionName,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                sourceType = #{sourceType,jdbcType=INTEGER},
            </if>
            <if test="permissionValue != null">
                permissionValue = #{permissionValue,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                createUserId = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                updateUserId = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="recordStatus != null">
                recordStatus = #{recordStatus,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                parentId = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=INTEGER},
            </if>
        </set>
        where permissionId = #{permissionId,jdbcType=INTEGER}
    </update>

    <insert id="batchInsert" parameterType="collection">
        INSERT INTO t_permission
        (permissionName, sourceType, permissionValue)
        VALUES
        <foreach collection="list" item="permission" separator=",">
            (#{permission.permissionName}, #{permission.sourceType}, #{permission.permissionValue})
        </foreach>
    </insert>

</mapper>